/* Font */
h1 {
  text-align: center;
  color: white;
  font-family: georgia;
  font-size: 300%;
  padding-top: 20px;
}

h2 {
  text-align: center;
  color: white;
  font-family: georgia;
  font-size: 150%;
}

p {
  text-align: center;
  color: white;
  font-family: georgia;
  font-size: 80%;
}

/* Center */
.container {
  height: 100px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.horizontal-center {
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
